[elasticstack]
name=Elastic Stack repository for {{ ELASTIC_VERSION }} packages
baseurl=https://artifacts.elastic.co/packages/{{ ELASTIC_VERSION }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
